body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f8f8f8;
  color: #333;
}

h1 {
  color: #4CAF50;
  font-size:30px;
  border-bottom: 10px solid grey;
}

h2 {
  font-size: 20px;
  border-bottom: 5px solid #4CAF50;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.column-big {
  flex: 80%;
}

.column-small {
  flex: 20%;
}

img {
  border: 2px solid none;
  border-radius: 12px;
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.no-bullets, .no-bullets li {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 2px;
  text-align: left;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}

